body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bbd8fa76;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.leftSide {
  border: 1px solid rgb(217, 215, 215);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50vh;
  background-color: rgb(181, 246, 160);
  border-radius: 30px;
  padding: 20px;
}
.checkListContainer {
  border: 1px solid rgb(217, 215, 215);

  display: flex;
  justify-items: center;
  border-radius: 30px;
  padding: 20px;
  width: 50vh;
  background-color: rgb(241, 241, 243);
}
.checkList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  list-style: none;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.systemDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
